@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,600;1,700&display=swap');


// breakpoints
$breakpoint-320: 320px;
$breakpoint-767: 767px;
$breakpoint-768: 768px;
$breakpoint-991: 991px;
$breakpoint-992: 992px;
$breakpoint-1023: 1023px;
$breakpoint-1024: 1024px;
$breakpoint-1199: 1199px;

@mixin responsive($min-width, $max-width) {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}


$white : #fff;
$grey: #ddd;

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html{
//     font-size: 0.625rem; /*Equal 10px */
// }

body{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-weight: 700;
    font-size: 2rem;
}

.header{
    padding: 1rem 0;
    a{
        font-size: 2.5rem;
        color: $white;
        font-weight: 700;
        text-transform: uppercase;
        &:hover{
            color: $grey;
            text-decoration: none;
        }
    }
}


.wrapper-border{
    border: 1px solid $grey;
    padding: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@include responsive ($breakpoint-320, $breakpoint-767){
    .wrapper-border{
        padding: 20px;
    }
    
}